---
import { Image } from "astro:assets";
---

<div
  id="Contact"
  class="flex flex-col justify-between p-0 list-none items-center w-full min-w-0 text-center gap-1 py-20 my-20 bg-sky-50"
>
  <h1 class="text-5xl text-gray-800 font-mono font-bold">Contact/social</h1>
  <h2 class="text-3xl text-gray-800 font-mono mb-3">
    Don't be shy! Hit me up! 👇
  </h2>

  <div class="text-center font-mono text-xl text-gray-800">
    <ul class="list-none flex justify-center">
      <!-- Add flex container and justify-center class -->
      <li class="hover:scale-110 transition-all ease-in delay-100 hover:bg-green-400 p-2 rounded-2xl hover:shadow-2xl">
        <!-- Center align both image and text -->
        <a href="https://github.com/BlueEnd07"
          ><Image
            src="https://skillicons.dev/icons?i=github"
            alt="githubicon"
            inferSize={true}
          /></a
        >
      </li>
      <li class="hover:scale-110 transition-all ease-in delay-100 hover:bg-green-400 p-2 rounded-2xl hover:shadow-2xl">
        <!-- Center align both image and text -->
        <a href="mailto:Lokeshrawatrawat123@gmail.com"
          ><Image
            src="https://skillicons.dev/icons?i=gmail"
            alt="mailicon"
            inferSize={true}
          /></a
        >
      </li>
      <li class="hover:scale-110 transition-all ease-in delay-100 hover:bg-green-400 p-2 rounded-2xl hover:shadow-2xl">
        <!-- Center align both image and text -->
        <a href="https://www.linkedin.com/in/lokesh-rawat-6229611bb/"
          ><Image
            src="https://skillicons.dev/icons?i=linkedin"
            alt="linkedinicon"
            inferSize={true}
          /></a
        >
      </li>
      <li class="hover:scale-110 transition-all ease-in delay-100 hover:bg-green-400 p-2 rounded-2xl hover:shadow-2xl">
        <!-- Center align both image and text -->
        <a href="https://www.instagram.com/thisislokesh/"
          ><Image
            src="https://skillicons.dev/icons?i=instagram"
            alt="instagramicon"
            inferSize={true}
          /></a
        >
      </li>
      <li class="hover:scale-110 transition-all ease-in delay-100 hover:bg-green-400 p-2 rounded-2xl hover:shadow-2xl">
        <!-- Center align both image and text -->
        <a href="https://twitter.com/meLokeshRawat"
          ><Image
            src="https://skillicons.dev/icons?i=twitter"
            alt="twittericon"
            inferSize={true}
          /></a
        >
      </li>
    </ul>
  </div>
</div>
